@model List<Employee>

@{
    ViewData["Title"] = "Сотрудники";
}

<div align="center">
    <h1>Сотрудники</h1>
    <a asp-action="Create">Создать сотрудника</a>
</div>

<div class="list mt-1">

    @*Заголовок*@
    <br />

    <div class="list-item">
        <div class="list-item-col">
            Имя
        </div>
        <div class="list-item-col">
            Логин
        </div>

        <div class="list-item-col">
            Действия
        </div>
    </div>
    <hr />


    @*Тело*@
    @{
        foreach (var item in Model)
        {
            <div class="list-item">
                <div class="list-item-col">
                    @item.Name
                </div>

                <div class="list-item-col">
                    @item.Email
                </div>

                <div class="list-item-col">
                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </div>
            </div>
            <hr />
        }
    }

</div>